*\.sch-bak
*\.kicad_pcb-bak

kicad/*\.zip
kicad/ampermeter/out
kicad/isolated_usb2uart/out

h7code/output
h7code/microampermeter.creator.user

kicad/ad8606/out/

kicad/ADS1271/out/

kicad/analog_frontend/out/

kicad/stm32h7_digital/out/

kicad/analog_frontend/analog_frontend.zip

kicad/ADS1271/ADS1271_00.zip

kicad/stm32h7_digital/stm32h7_digital_00.zip

py/*\.bin
py/*\.na
